#user-registration-form {
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
}
#user-input, #password-input, #email-input {
    font-size: 24px;
}
#register-btn {
    font-size: 24px;
    margin-top: 25px;
}

.form-field {
    font-size: 25px;
}

#user-registration-btn {
    font-size: 25px;
    margin: 25px;
}