
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

{% block content %}
    <div class="content">
        <div class="profile-div">
            <a href="{% url 'profile' %}">Profile</a>
        </div>

        <div class="navbar-div-ul">
            <ul class="navbar-ul">
                <li class="navbar-li"><a href="{% url 'main_page' %}">Home</a></li>
                <li class="navbar-li"><a href="{% url 'messages' %}">Messages</a></li>
                <li class="navbar-li"><a href="{% url 'friends' %}">Friends</a></li>
                <li class="navbar-li"><a href="{% url 'groups' %}">Groups</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}